{
  "all": true,
  "include": [
    "src"
  ],
  "extension": [
    ".jsx",
    ".js"
  ],
  "require": [
    "babel-register",
    "./test/helpers/mockClientDB"
  ],
  "sourceMap": false,
  "instrument": false
}