@import url('//fonts.googleapis.com/css?family=Rubik:400,700,900');

body {
    font-family: 'Rubik', sans-serif;
}

.site {
    display: flex;
    height: 100%;
    flex-direction: column;
    background: url('bg.png') no-repeat;
    background-size: cover;
    background-position: center center;;
}

.site-content {
    display: flex;
    height: 100%;
    justify-content: space-around;
    flex-direction: column;
}

.site-footer {
    font-size: 0.8rem;
    color: #606060;
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
}

h1, h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 2.6rem;
}

.site-title {
    margin: 25px 0 50px;
    font-weight: 700;
    color: #23374c;
}

.site-title.mobile {
    font-size: 1.85rem;
    font-weight: 900;
}

.zimmer-name {
    color: #fefefe;
    text-shadow: #e0e0e0 1px 1px 0;
}

.sign {
    background: url('sign.png') no-repeat;
    margin-bottom: 100px;
}

.sign-desktop {
    width: 381px;
    height: 241px;
}

.sign-desktop > .text {
    padding-top: 30px;
}

.sign-mobile {
    height: 170px;
    width: 270px;
    background-size: cover;
}

.sign-mobile > .text {
    padding-top: 25px;
}

.sign-mobile h1 {
    font-size: 1.68rem;
}

.generate-button {
    outline: none;
    padding: 15px 50px;
    font-size: 2rem;
    background: #8E44AD;
    border: 0;
    font-weight: 900;
}

.generate-button:hover {
    background-color: #663399;
}

.generate-button:focus {
    background: #8E44AD;
}

.generate-button:focus:hover {
    background-color: #663399;
}

.multiple-borders {
    -webkit-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.6),
    0px 0px 0px 14px #fff,
    0px 0px 0px 18px rgba(0, 0, 0, 0.2),
    6px 6px 8px 17px #555;

    -moz-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.6),
    0px 0px 0px 14px #fff,
    0px 0px 0px 18px rgba(0, 0, 0, 0.2),
    6px 6px 8px 17px #555;

    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.6),
    0px 0px 0px 14px #fff,
    0px 0px 0px 18px rgba(0, 0, 0, 0.2),
    6px 6px 8px 17px #555;
}
